@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  /* container */
  .nike-container {
    @apply w-11/12 m-auto;
  }
  
  /* Scroll */
  .scroll-hidden::-webkit-scrollbar{
    display: none;
  }
  .scroll-style::-webkit-scrollbar{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: rgb(0, 0, 0) rgb(0, 0, 0); /* Set the scrollbar color to black */
  }
  .scroll-style::-webkit-scrollbar {
    @apply w-2;
  }
  .scroll-style::-webkit-scrollbar-track {
    @apply bg-black; /* Set scrollbar track color to black */
  }
  .scroll-style::-webkit-scrollbar-thumb {
    @apply rounded-full bg-black; /* Set scrollbar thumb color to black */
  }
   
  /* Theme-Colors */
  .bg-theme {
    background-image: linear-gradient(0.2deg, rgb(0, 0, 0) 4.8%, rgb(0, 0, 0) 85.5%); /* Set the background gradient to black */
  }
  .bg-theme-cart {
    @apply bg-gradient-to-b from-black to-black shadow-sm shadow-black; /* Set the cart theme to black */
  }

  /* Clip-path */
  .clip-path {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  }  
  
  /* Blur-Effect */
  .blur-effect-theme {
    @apply bg-black bg-clip-padding backdrop-filter backdrop-blur bg-opacity-50 opacity-100 z-[100] shadow-sm shadow-black transition-all duration-300; /* Set the blur effect to black */
  }

  /* Icon Styles */
  .icon-style {
    @apply h-6 w-6 sm:h-5 sm:w-5 text-white cursor-pointer transition-all duration-100 active:scale-110 leading-tight; /* Set the icon style to use black color */
  }

  /* text-gradient */
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-white to-white; /* Set text gradient to black */
  }

  /* border */ 
  .rounded-theme {
    border-radius: 5% 100% 10% 5%;
  }

  /* button */
  .button-theme {
    @apply px-7 py-1 rounded active:scale-90 transition-all duration-100 ease-in-out shadow-md sm:text-sm; /* Set the button theme to black */
  }

  /* transitions-theme */
  .transitions-theme {
    @apply transition-all duration-700 ease-in-out cursor-pointer;
  }

}
